$white: #FFF;
$black: #000;

$primary: #0a9494;
$primaryDark: #044b4b;
$primaryLight: #b6e9e9;

$secondaryColor: #a3988b;
$secondaryDark: #2b2721;
$secondaryLight: #86745f;

$background: #F2F2F2;
$ternaryBackground: #d1bea7;

$disabledBackground: #CCC;
$disabledColor: #666;

$borderColor: #f4e5d3;

$valid: #4CAF50;
$invalid: #EF5350;
